PORT=5000
MONGODB_USERNAME=your_username
MONGODB_PASSWORD=your_password
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.fcee7mp.mongodb.net/spendwise?retryWrites=true&w=majority
MONGODB_DB_NAME=spendwise
